*{
    margin: 0;
    padding: 0;
}

.main h1{
    padding: 240px 0 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 96px;
    color: #FFFFFF;
}

.main h2{
    padding: 0 0 250px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    color: #FFFFFF;
}

.main .btn_1{
    background-color:#FFFFFF;
    width: 100%;
    border-radius: 35px;
    font-size: 18px;
    line-height: 52px;
    text-decoration: none;
}

.header .btn_1{
    background-color:#FFFFFF;
    width: 100%;
    border-radius: 35px;
    font-size: 18px;
    line-height: 52px;
    text-decoration: none;
}

.main .btn_1:hover{
    background-color: #ffcc00;
}

.header .btn_1:hover{
    background-color: #ffcc00;
}

.main .btn_1 a{
    text-decoration: none;
    color: #404040;
    font-style: normal;
    font-weight: 600;
 }

.header .btn_1 a{
    text-decoration: none;
    color: #404040;
    font-style: normal;
    font-weight: 600;
}

.main .fa-play-circle{
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 120px;
    margin-bottom: 60px;
}

.main .fa-play-circle:hover{
    color: #ffcc00;
}

.header {
    padding: 30px 0;
}

.header .to_main {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}