*{margin: 0;
padding: 0;}


.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
}

.main h1{
    padding-top: 240px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 96px;
    color: #FFFFFF;
}

.main h2{
    padding-top: 40px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 77px;
    color: #FFFFFF;
    padding-bottom: 250px;
}

.main .catalog{
    padding: 20px 150px;
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
}

.main .catalog:hover{
    background: #FFFFFF;
    color: black;
}

.main .design{
    padding: 20px 150px;
    text-decoration: none;
    width: 450px;
    font-size: 24px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 40px;
   }

.main .design:hover{
    background: #ffcc00;}

.main .play{
    padding: 100px 0;
}
