*{margin: 0;
padding: 0;}


.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
}

.main h1{
    padding-top: 240px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 96px;
    color: #FFFFFF;
}

.main h2{
    padding-top: 40px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    color: #FFFFFF;
}
